$fade-10: 500ms;
$fade-20: 600ms;
$fade-30: 700ms;
$fade-40: 800ms;
$fade-50: 1s;
$fade-100: 1500ms;
$fadeInDuration : 500ms;
$header-height: 80px;

.active-header {
    &:hover {
        transition: 125ms cubic-bezier(0.19, 1, 0.22, 1) all;
        transform: scale(1.1);
    }
}


.navbar {
    transition: 250ms ease all;
    margin-bottom: 70px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50px, 0px);
    animation: FadeIn $fadeInDuration $fade-30 cubic-bezier(0.265, 0.32, 0.075, 1) forwards;
    background-color: rgb(13, 13, 13);
    border-radius: 20px;
    height: $header-height;
    place-content: center;
    width: 100%;
    position: relative;
    transition: 250ms ease all;

    @keyframes FadeIn {
        0% {
            transform: translate(10px, 15px);
            opacity: 0;
            scale: .9;
            transform: rotateY('55')
        }

        100% {
            transform: translate(0px);
            opacity: 1;
            scale: 1;
        }
    }

    .swap {
        @include below-desktop {
            display: none;
        }
    }

    .style-1 {
        @include tablet {
            place-content: unset;
        }
    }

    @include mobile {
        .style-66 {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.navbar {
    transition: 250ms ease all;
    padding: 0 20px;
    ;

    .wave,
    swap {
        @include below-desktop {
            display: none;
        }
    }

    .style-1 {
        @include tablet {
            place-content: unset;
        }
    }


    @include mobile {
        .style-66 {
            opacity: 0;
            visibility: hidden;
        }
    }
}