.jsx-converter {
    position: relative !important;

    .jsx-input {
        color: var(--muted-foreground);
    }

    .monaco-editor.no-user-select .lines-content,
    .monaco-editor.no-user-select .view-line,
    .monaco-editor.no-user-select .view-lines {
        transform: translateY(-5px);
    }

    &::before {
        content: "";
        background: linear-gradient(45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 80%;
        z-index: -1;
        font-weight: 400;
        filter: blur(5px);
        width: calc(100% + 4px);
        scale: 1.02;
        height: calc(100% + 4px);
        animation: glowingEffect 20s linear infinite;
        opacity: 0.3;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
    }

    .margin-view-overlays,
    .margin,
    .margin-view-overlays {
        display: none !important;
    }
}

.jsx-converter.jsx-has-content::before {
    opacity: 1;
}