$black: #111;
$black-secondary : rgba(14, 14, 14);
$black-alternative: rgba(28, 28, 28, 1);
$grey: rgba(82, 82, 82);
$grey-light: #E4E5E4;
$highlighted: #fdba72d9;
$card: $grey-light;

$text-color-secondary: $black-secondary;
$text-color: $black-alternative;
$text-color-light: $grey;

$bg-card-inner: #d5d5d4;
$bg-card-inner-dark: #111;