$cursorsize: 10px;
$white: #fff;

.interactable {
    aspect-ratio: 1 / 1.5;
    width: clamp(120px, 40vmin, 600px);
    background-position: center 50%;
    background-size: 100%;
    opacity: 0.4;
    transition: background-size 400ms ease, opacity 400ms ease;
}


.interactable:hover {
    background-size: 105%;
    opacity: 0.8;
}

#trailer {
    height: $cursorsize;
    width: $cursorsize;
    background-color: transparent;
    border-radius: 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    z-index: 9999999999999999999;
    mix-blend-mode: difference;
    transition: opacity, scale 500ms ease;
    display: grid;
    place-items: center;
    scale: 1;
}

.showAlternativeCursor {
    cursor: none;

    * {
        cursor: none;
    }
}

#trailer {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#custom-cursor {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

body,
.menu {
    &:hover {
        #trailer {
            opacity: 1 !important;
        }
    }
}

#trailer {
    .menu {
        &:has(.showAlternativeCursor) {
            opacity: 1 !important;
            pointer-events: none;
        }
    }
}