.box {
    width: 20vw;
    height: 50px;
    margin: 10px;
    animation: rainbow 5s linear infinite;
    opacity: .5;
}

@keyframes rainbow {
    0% {
        background-color: rgb(115, 0, 255);
    }
    16.67% {
        background-color: rgb(247, 0, 255);
    }
    33.33% {
        background-color: rgb(102, 0, 255);
    }
    50% {
        background-color: rgb(212, 0, 255);
    }
    66.67% {
        background-color: rgb(255, 0, 221);
    }
    83.33% {
        background-color: #f0f;
    }
    100% {
        background-color: #f00;
    }
}

@function random-color() {
    $hue: random(360);
    $saturation: random(100);
    $lightness: random(100);
    @return hsl($hue, $saturation, $lightness);
}

.box {
    background-color: random-color();
}