$fade-10: 500ms;
$fade-50: 1s;
$fade-100: 2s;
$fadeInDuration : 1s;
$header-height: 80px;

.navbar {
    transition: 250ms ease all;
    margin-bottom: 20px;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50px, 0px);
    animation: FadeIn $fadeInDuration $fade-100 cubic-bezier(0.265, 0.32, 0.075, 1) forwards;
    background-color: rgba(21, 21, 21, 0.6);
    border-radius: 20px;
    height: $header-height;
    place-content: center;
    width: 100%;
    position: relative;
    transition: 250ms ease all;

    &:hover {
        .style-7 {
            background-color: red;
        }
    }

    @keyframes FadeIn {
        0% {
            transform: translate(100px, 15px);
            opacity: 0;
            scale: .9;
        }

        100% {
            transform: translate(0px);
            opacity: 1;
            scale: 1;
        }
    }

    .wave,
    swap {
        @include below-desktop {
            display: none;
        }
    }

    .style-1 {
        @include tablet {
            place-content: unset;
        }
    }

    @include mobile {
        .style-66 {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.navbar {
    transition: 250ms ease all;

    .wave,
    swap {
        @include below-desktop {
            display: none;
        }
    }

    .style-1 {
        @include tablet {
            place-content: unset;
        }
    }


    @include mobile {
        .style-66 {
            opacity: 0;
            visibility: hidden;
        }
    }
}