@import '../variables/colors';

.dark {
  .infinite-slider {
    border: 1px solid #201f1f;

    &::before {
      background: linear-gradient(-90deg, rgb(28, 28, 28) 22%, #111 -2% #111 100%);
      left: 0;
    }

    &::after {
      background: linear-gradient(-90deg, rgb(28, 28, 28) 22%, #111 -2% #111 100%);
      right: 0;
    }
  }
}

.infinite-slider {
  position: relative;
  overflow: hidden;

  svg {
    width: 50px;
    height: 50px;
  }

  .slide {
    padding: 14px 20px;
    gap: 20px;
    height: min-content;
    justify-content: flex-start;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    min-width: fit-content;

    &__inner {
      align-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex: none;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0px;
      height: min-content;
      justify-content: center;
      overflow: visible;
      padding: 0;
      position: relative;
      width: min-content;
      text-wrap: nowrap;
    }
  }

  &::before,
  &::after {
    content: '';
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 50;
  }

  &::before {
    background: linear-gradient(90deg, rgb(228, 229, 228) 0%, rgb(22, 22, 22) -2%, rgba(255, 255, 255, 0) 100%);
    left: 0;
  }

  &::after {
    background: linear-gradient(-90deg, rgb(228, 229, 228) 0%, rgb(22, 22, 22) -2%, rgba(255, 255, 255, 0) 100%);
    right: 0;
  }
}

.slider,
.slider-reverse {
  position: relative;
  width: 960px;


  &::before,
  &::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: infiniteScroll 60s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide-track-reverse {
    animation: infiniteScrollReverse 60s linear infinite;
    display: flex;
    width: calc(250px * 14);

  }

  &:hover {

    .slide-track-reverse,
    .slide-track {
      animation-play-state: paused;
    }
  }

  @keyframes stopPlaying {
    0% {}

    100% {
      animation-play-state: paused;
    }
  }

}

.tooltip-triangle {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $bg-card-inner transparent;
  transform: rotate(180deg);
}




.w-max-content {
  width: max-content;
}