$contained: 1280px;

body,
html {
    background-color: $black;
    transition: 250ms ease-in-out all;
    scroll-behavior: smooth;
    animation: bodyBgFadeIn 10sxforwards;
}

.contained {
    max-width: $contained;
    margin: 0 auto;
}

.mini-contained {
    width: 600px;
}

.blackjack {
    .contained {
        max-width: 1600px !important;
    }
}