@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.geist {
    font-family: var(--font-geist-sans) !important;
}

.inter {
    font-family: 'Inter', sans-serif !important;
}

.slogan {
    letter-spacing: -2px;
    font-size: 31px;
    line-height: 41px;
    color: rgb(243, 245, 247);
}



p {
    @extend .inter
}