@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/buttons.scss';
@import './components/framer-motion.scss';
@import './components/_grid-bitmoji.scss';
@import './components/infinite-slider.scss';
@import './variables/colors.scss';
@import './utils/animations.scss';
@import './base/theme.scss';
@import './base/utillity-classes.scss';
@import './components/loader.scss';
@import './base/typography.scss';


.shine-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

:root {
  --foreground-rgb: $black;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(76, 33, 2, 0.369);
  --c2: rgba(168, 239, 255, 0.1);
  --white: #ff;
  --darkmain: #101010;
  --mainaccent: #171718;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}



.boxx {
  border: 3px solid #000;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) ease-in-out 2s forwards;
}



@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }

  40% {
    --gradX: 100%;
    --gradY: 100%;
  }

  60% {
    --gradX: 50%;
    --gradY: 100%;
  }

  80% {
    --gradX: 0%;
    --gradY: 50%;
  }

  99% {
    --gradX: 50%;
    --gradY: 0%;
  }

  100% {
    opacity: 0;
  }
}