$contained: 80vw;

body,
html {
    background-color: $black;
    transition: 250ms ease-in-out all;
    scroll-behavior: smooth;
}

body {
    background-color: radial-gradient(ellipse 60% 50% at 50% -30%, rgba(45, 212, 191, .15) 0, rgba(8, 0, 0, 0)) !important;
}

.home-container {
    max-width: 1280px !important;
}

.contained {
    max-width: 60vw;


    margin: 0 auto;

    // @media (max-width: 1280px) {
    //     max-width: 90vw;
    //     padding: 0 20px;
    // }

    @media (max-width: 768px) {
        padding: 0 12px 0 0;
    }


    @media (max-width: 16800px) {
        max-width: $contained;
    }
}

body {
    overflow-x: hidden;
}

.mini-contained {
    width: 600px;

    @media (max-width: 600px) {
        width: 100%;
        padding: 0 15px;
    }
}

.blackjack {
    .contained {
        max-width: 1600px !important;
    }
}