$contained: 80vw;

body,
html {
    transition: 250ms ease-in-out all;
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(ellipse 60% 50% at 50% -30%, rgba(45, 212, 191, .15) 0, rgba(8, 0, 0, 0)) !important;
    animation: changeBodyColor 10s ease-in-out infinite alternate;
}

@keyframes changeBodyColor {
    0% {
        background: radial-gradient(ellipse 60% 50% at 50% -30%, rgba(45, 212, 191, .15) 0, rgba(8, 0, 0, 0)) !important;
    }

    100% {
        background: radial-gradient(ellipse 60% 50% at 50% -30%, rgba(145, 45, 212, 0.15) 0, rgba(8, 0, 0, 0)) !important;
    }

}

.home-container {
    max-width: 1280px;

    @media (max-width: 640px) {
        max-width: 640px;
    }

    @media (max-width: 768px) {
        max-width: 768px;
    }
}

.toasti {
    svg {
        margin-right: 10px;
        padding-right: 10px;
    }
}

.contained {
    max-width: 60vw;


    margin: 0 auto;

    // @media (max-width: 1280px) {
    //     max-width: 90vw;
    //     padding: 0 20px;
    // }

    @media (max-width: 768px) {
        padding: 0 12px 0 0;
    }


    @media (max-width: 16800px) {
        max-width: $contained;
    }
}

body {
    overflow-x: hidden;
}

.mini-contained {
    width: 600px;

    @media (max-width: 600px) {
        width: 100%;
        padding: 0 15px;
    }
}

.blackjack {
    .contained {
        max-width: 1600px !important;
    }
}